*{
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  
  
}
body{
  background-color: #282c34;
}

header{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  
  
}


.App {
  
  min-height: 100vh;
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  
  
}

.principal{
  display: flex;
  flex-direction: column;
}




@media screen and (min-width: 1024px)  { 
  .App{
    justify-content: space-around;
  }
  

 }





